@font-face {
  font-display: swap;
  font-family: "Fragment Mono";
  font-style: normal;
  src: url("/assets/fonts/FragmentMono-Regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Fragment Mono";
  font-style: italic;
  src: url("/assets/fonts/FragmentMono-Italic.woff2") format("woff2");
}

:root {
  --wrapper-width: 80rem;
}

html {
  height: 100%;
}

body {
  color: var(--text-color);
  font-size: 100%;
  line-height: 100%;
  margin: 0;
}

a {
  color: var(--link-color);
}

a:hover {
  color: var(--highlight-color);
}

a:focus-visible {
  outline: 2px solid var(--highlight-background);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.wrapper {
  margin-inline: auto;
  padding-inline: 1.5rem;
  max-width: var(--wrapper-width);
  width: 100%;
}

.shiki {
  line-height: 1.75;
  margin: 0;
  padding: 1rem;
}
