.builder {
  display: grid;
  gap: 1.5rem;
  margin-inline: auto;
  max-width: 80rem;
  padding-inline: 1.5rem;
  width: 100%;
}

@media (width >= 800px) {
  .builder {
    grid-template-columns: 1fr 2fr;
  }
}

.builder-setting-label {
  align-items: center;
  display: flex;
  gap: 1rem;
}

.builder-settings {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.builder-code {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
