.codepanel {
  position: relative;
}

.codepanel .line {
  counter-increment: lineno;

  &::before {
    content: counter(lineno);
    display: inline-flex;
    justify-content: flex-end;
    opacity: 0.5;
    padding-inline-end: 1rem;
    text-align: right;
    user-select: none;
    width: 2.5rem;
  }
}

.codepanel-copy {
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 50;
}
